.product {
    position: relative;
}

.product img {
    width: 100%;
}

.product .product-details {
    margin: 14px;
    line-height: 20px;
}

.product .product-details .product-name {
    font-size: 21px;
    margin: 20px 0;
}

.product .product-details .product-gap {
    margin-top: 45px;
    margin-bottom: 60px;
}